footer {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 1px;
}

.logo-footer{
    width: 200px;
}

footer img {
    width: 40px;
}

.content-footer {
    font-size: 18px;
    display: flex;
    width: 900px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.redes a{
    margin-left: 20px;
}


.criador {
    margin: 1rem;
    text-align: center;
}

@media (max-width: 1080px) {

    footer{
        width: 100%;
    }

    #footer{
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    footer > div > div{
        margin: 30px 0 20px;
    }

    footer span {
        text-align: center;
        margin: 10px 0;
    }
}