* {
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
}

body {
    background-color: #fcfcfc;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

@media (max-width: 1180px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 1020px) {
    .container {
        max-width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 780px) {
    .container {
        max-width: 97%;
        margin: 0 auto;
    }
}