.origem-section {
    background-color: #53553d;
    color: #fff;
}

.fundo-branco{
    background-color: #fcfcfc;
    color: #53553d;
}

h1 {
    font-size: 84px;
    font-family: 'Comic Neue', Arial, cursive;
}

h2 {
    font-size: 75px;
    font-family: 'Comic Neue', Arial, cursive;
}

p {
    font-size: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 2em;
}

.conteudo{
    display: flex;
    padding: 3em 0;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
}

.conteudo img {
    border-radius: 36px;
}

.pl{
    padding-left: 20px;
}

.pr {
    padding-right: 20px;
}

.duas-imagens {
    width: 50%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.duas-imagens img {
    width: 80%;
}

.self-rigth {
    align-self: flex-end;
}

.self-left {
    align-self: flex-start;
}

.duas-imagens-horizontal {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.duas-imagens-horizontal img {
    width: 48%;
}

.duas-imagens-vertical {
    width: 50%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.regula {
    height: 100%;
    align-self: center;
}

.regula-cantautor-img {
    width: 50%;
}

.regula-cantautor{
    align-self: center;
}

@media (max-width: 1150px ) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }
    .conteudo img {
        height: 1000px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .pl {
        align-items: center;
        width: 100%;
        padding: 50px 0 0;
    }

    .pr {
        width: 100%;
        padding-bottom: 50px;
    }

    .duas-imagens {
        width: 100%;
    }

    .self-rigth {
        display: none;
    }

    .self-left {
        width: 100%;
    }

    .duas-imagens-horizontal{
        display: none;
    }

    .padding-top-0{
        padding-top: 0;
    }

    .tira{
        display: none;
    }

    .duas-imagens-vertical{
        width: 100%;
    }
    
}

@media (max-width: 1100px ){
    .conteudo img {
        height: 850px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}