section {
    position: relative;
}

section img {
    width: 100%;
}

.sobreposicao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.titulo {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Comic Neue', Arial, cursive;
    font-size: 85px;
    font-weight: 600;
    margin-bottom: 40px;
}

.titulo p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    width: 80%;
    margin-bottom: 40px;
}

.bottom-link {
    background: #53553d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    width: 140px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius: 36px;
    text-decoration: none;
    margin: 2px;
}

.bottom-link img {
    width: 20px;
}

.bottom-link:hover {
    transition: all 0.3s ease-in;
    margin-left: 10px;
}

.section-video {
    background-color: #fcfcfc;
}

.centraliza-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0;
}

iframe {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #000;
}

.centraliza-video span {
    color: #53553d;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    padding: 20px 0 20px;
    text-align: center;
}

.fim-de-ciclo {
    min-height: 637px;
    background-color: #492b1a;
    opacity: 0.94;
}

.conteudo-fim-de-ciclo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0;
}

.conteudo-fim-de-ciclo h2 {
    font-family: "Comic Neue", Arial, cursive;
    font-size: 50px;
}

.conteudo-fim-de-ciclo > img {
    width: 540px;
    height: 540px;
    margin-left: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px #000;
}

.conteudo-fim-de-ciclo > div {
    width: 45%;
    color: #fff;
}

.conteudo-fim-de-ciclo p {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 2rem 0;
    width: 100%;
    font-size: 20px;
}

.conteudo-fim-de-ciclo .bottom-link {
    width: 120px;
}

.section-contato{
    background-color: #f9f9f9;
}

.contato {
    color: #efefef;
    width: 60vh;
    max-width: 720px;
    text-align: center;
    background-color: #53553d;
    margin: 4em auto;
    border-radius: 40px;
}

.contato h3 {
    font-family: 'Comic Neue', Arial, cursive;
    font-size: 40px;
    font-weight: 400;
    padding-top: 20px;
}

form {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 20px;
}

label {
    font-family: 'Comic Neue', Arial, cursive;
    font-size: 25px;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

input {
    background-color: #efefef;
    font-size: 15px;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}

textarea {
    background-color: #efefef;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 15px;
    resize: none;
    border-radius: 20px;
}

textarea:focus, input:focus {
    border: solid #ffc1c1;
    outline: none;
}

.submit{
    width: 50%;
    margin: 0 auto 2rem;
}

.submit:hover {
    transition: all 0.4s ease-in-out;
    background-color: #53553d;
    color: #fff;
    cursor: pointer;
    opacity: 1;
}

.banner-mobile {
    display: none;
}

@media (max-width: 1100px) {

    .titulo p{
        margin-bottom: 10px;
    }

    iframe{
        width: 600px;
        height: 375px;
    }

    .conteudo-fim-de-ciclo > img {
        width: 360px;
        height: 360px;
    }

    .conteudo-fim-de-ciclo h2{
        font-size: 30px;
    }

    .conteudo-fim-de-ciclo p{
        font-size: 15px;
    }

    .contato {
        width: 600px;
    }


}

@media (max-width: 680px) {

    iframe {
        width: 300px;
        height: 175px;
    }

    .banner-desktop {
        display: none;
    }

    .banner-mobile {
        display: block;
    }

   h1 {
       font-size: 30px;
       margin: 0;
   }

   .titulo p {
       padding-top: 5px;
       width: 100%;
       margin-bottom: 10px;
       font-size: 12px;
   }

   .bottom-link img{
        display: none;
   }

   .bottom-link{
       justify-content: center;
       width: 120px;
   }

   .centraliza-video span {
       font-size: 12px;
   }

   .fim-de-ciclo {
       min-height: auto;
   }

   .conteudo-fim-de-ciclo {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
   }

   .conteudo-fim-de-ciclo img {
       width: 360px;
       height: 360px;
   }

   .conteudo-fim-de-ciclo div {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       margin-top: 20px;
   }

   .conteudo-fim-de-ciclo p{
        display: none;
   }

   .conteudo-fim-de-ciclo .bottom-link {
        margin-top: 20px;
   }

   .contato {
       width: 90%;
   }

   label {
       font-size: 15px;
   }


}

@media (max-width: 400px) {
    .conteudo-fim-de-ciclo > img {
        width: 220px;
        height: 220px;
    }
}